@model examenPro.Models.post

@{
    ViewData["Title"] = "Delete";
    Layout = "LayoutFinal";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
