@model examenPro.Models.post

@{
    ViewData["Title"] = "Details";
    Layout = "LayoutFinal";
}

<h2>Details</h2>

<div>
    <h4>post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hoy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hoy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
